{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section-how-it-works">
        <div class="container">
           <div class="row">
              <div class="col-md-5 col-sm-6 col-xs-12">
                 <div class="left-works-box wow fadeIn" data-wow-delay="0.2s">
                   <div class="blue-form">
                       <h2>Update Your Details</h2>
                       <form action="#">
                           <div class="form-inline">
                               <input type="text" placeholder="Enter your Old Password" />
                           </div><br>
                           <div class="form-inline">
                               <input type="text" placeholder="Enter New Password" />
                           </div><br>
                           <div class="form-inline">
                               <input type="text" placeholder="Confirm Password" />
                           </div><br>
                           <button type="submit" class="btn btn-primary">Save</button>
                       </form>
                   </div>
                 </div>
              </div>
              
           </div>
        </div>
     </div>

     {% endblock %}