{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chamb - Responsive E-commerce HTML5 Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!--bootstrap css-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--animate css-->
    <link rel="stylesheet" href="{% static 'css/animate-wow.css' %}">
    <!--main css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <!--responsive css-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- JQuery -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
</head>
    <body>
        {% if 'login' in request.path or 'signup' in request.path %}
            <!-- Content -->
            {% block login-signup %} {% endblock %}

        {% else %}
            <!-- Header -->
            {% include 'partials/_header.html' %}

            <!-- Content -->
            {% block content %} {% endblock %}

            <!-- Footer -->
            {% include 'partials/_footer.html' %}

        {% endif %}

       
        <!--bootstrap js--> 
        <script src="{% static 'js/bootstrap.min.js' %}"></script> 
        <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script> 
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!--custom js--> 
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>